footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $FOOTER-HEIGHT;

  text-align: center;
  border-top: 1px solid #000;

  margin-top: 25px;

  .github {
    width: 32px;
    height: 32px;
    background: url('../assets/github-mark.png') no-repeat center;
    background-size: contain;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}