
/* ----------------------------
 * Typo
 * ------------------------------------------------------- */
$TYPO-FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
$TYPO-FONT-STYLE: normal;
$TYPO-FONT-VARIANT: normal;
$TYPO-FONT-WEIGHT: 300;
$TYPO-FONT-SIZE: 18px;
$TYPO-FONT-COLOR: #ddd;
$TYPO-LINE-HEIGHT: 175%;

$TYPO-BOLD-WEIGHT: 500;
$TYPO-FONT-MONO-FAMILY: Menlo, Monaco, Consolas, "Courier New", monospace;

/* ----------------------------
 * Spacing
 * ------------------------------------------------------- */
$SPACING-1: .5em;
$SPACING-2:  1em;
$SPACING-3:  2em;
$SPACING-4:  4em;

/* ----------------------------
 * Breakpoints
 * ------------------------------------------------------- */
$BREAKPOINTS-SCREEN-SMALL: "320px";
$BREAKPOINTS-SCREEN-MEDIUM: "550px";
$BREAKPOINTS-SCREEN-LARGE: "920px";

/* ----------------------------
 * Layout
 * ------------------------------------------------------- */
$BODY-BACKGROUND-COLOR: #141414;

$HEADER-HEIGHT: 50px;

$CONTENT-MAX-WIDTH: 840px;

$FOOTER-HEIGHT: 50px;
$FOOTER-SPACE-TOP: 50px;
$FOOTER-BACKGROUND-COLOR: #673AB8;

